body{
    padding: 0px;
    margin: 0px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    color: white;
    padding-bottom: 30px;
    background-color: rgb(0, 0, 0);
}
a{
    color: white;
}
.line{
    margin-top: 0px;

}
header{
    background-image: url(images/IN-en-20230828-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-size: cover;
    height: 100vh;
}
.top-header{
    padding: 23px 174px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 150px;
    cursor: pointer;
}
nav button{
    border: 0;
    border-radius: 5px;
    padding: 4px 16px;
    color: white;
}
.language-picker{
    background-color: rgba(0, 0, 0, 0.308);
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.sigh{
    background-color: red;
    cursor: pointer;
    transition: 0.3s;
    padding: 6px 16px;
}
.sigh:hover{
    background-color: rgb(178, 37, 37); 
    
}
.main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 194px;
    
    
}
.first-text{
    
    font-size: 48px;
    font-weight: 900;
    margin :0;
}
.sec-text{
    font-size: 24px;
    margin-top: 20px;
    
}
.third-text{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
}
.email-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-search{
    background-color: rgba(0, 0, 0, 0.237);
    padding: 24px 16px;
    width: 334px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    margin-right: 8px;
    height: 8px;
    color: white;
}
.get-started-button{
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    background-color: rgb(229, 9, 20);
    font-size: 20px;
    color: white;
    border-style: none;
    padding: 12px 24px;
    height: 56px;
    border-radius: 6px;
    width: 200px;
    cursor: pointer;
    transition: 0.2s;
}
.get-started-button:hover{
    background-color: rgb(178, 37, 37);
}
main-container{
    padding-top: 72px;
    padding-bottom: 72px;
}
.features{
    padding-top: 72px;
    padding-bottom: 72px;
    margin-left: 174px;
    margin-right: 174px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image-1{
    width: 100%;
}
.image-2{
    width: 100%;
}
.features-sec-text{
    font-weight: 400;
    font-size: 24px;
    margin-top: 16px;
    width: 600px;
}


.faq-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 72px 0px;
}
.faq-head{
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 25px;
}
.faq-button{
    display: flex;
    border-style: solid;
    margin-bottom: 5px;
    background-color: #2f2f2f;
    color: white;
    width: 1170px;
    height: 84px;
    padding: 24px 24px;
    cursor: pointer;
    font-size: 24px;
    transition: 0.2s;
    justify-content: space-between;
}
.faq-button:hover{
    background-color: #4e4e4e;
}
.last-email-login{
    padding-bottom: 72px;
}
.detials{
    padding: 20px 0px;
    margin: 0px 32px;
    
}
footer{
    padding: 30px 170px ;
}
.contact{
    padding-bottom: 20px;
}
ul{
    list-style-type: none;
    
}
li{
    padding-bottom: 13px;
}
.links{
    display: flex;
    justify-content: space-between;
   
}
.links-section1{
    display: flex;
    flex-direction: column;
    line-height: 2.5;
    
}
.links-section2{
    display: grid;
    
}
.links-section3{
    display: grid;
    
}
.footer-language{
    padding-top: 30px;
}
.footer-netflix{
    font-size: 14px;
    padding-top: 20px;
}